In [25]:
import bitfinex

In [26]:
# Create api instance of the v2 API
api_v2 = bitfinex.bitfinex_v2.api_v2()

No keys, only access to public API functions

In [27]:
result = api_v2.candles()

In [28]:
import datetime
import time
# Define query parameters
pair = 'btcusd' # Currency pair of interest
bin_size = '1m' # This will return minute data
limit = 10000    # We want the maximum of 1000 data points 
# Define the start date
t_start = datetime.datetime(2021,4,12, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000
# Define the end date
t_stop = datetime.datetime(2021, 4, 20, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000
result = api_v2.candles(symbol=pair, interval=bin_size,  
                     limit=limit, start=t_start, end=t_stop)

In [30]:
import pandas as pd

In [31]:
names = ['time', 'open', 'close', 'high', 'low', 'volume']

In [32]:
df = pd.DataFrame(result, columns=names)

In [33]:
df.head()

            time     open         close          high           low     volume
0  1618826640000  56572.0  56553.000000  56628.000000  56552.000000   4.975340
1  1618826580000  56666.0  56574.000000  56666.000000  56551.649294  11.875513
2  1618826520000  56694.0  56666.636456  56701.000000  56666.000000   1.559669
3  1618826460000  56778.0  56694.000000  56778.000000  56694.000000   2.271022
4  1618826400000  56719.0  56779.155929  56808.657034  56719.000000   1.862801

In [34]:
df['time'] = pd.to_datetime(df['time'], unit='ms')

In [35]:
df.head()

,time,open,close,high,low,volume
0,2021-04-19 10:04:00,56572.0,56553.000000,56628.000000,56552.000000,4.975340
1,2021-04-19 10:03:00,56666.0,56574.000000,56666.000000,56551.649294,11.875513
2,2021-04-19 10:02:00,56694.0,56666.636456,56701.000000,56666.000000,1.559669
3,2021-04-19 10:01:00,56778.0,56694.000000,56778.000000,56694.000000,2.271022
4,2021-04-19 10:00:00,56719.0,56779.155929,56808.657034,56719.000000,1.862801

In [36]:
df.tail()

,time,open,close,high,low,volume
9995,2021-04-12 11:26:00,60000.0,60000.000000,60000.482297,60000.0,2.269179
9996,2021-04-12 11:25:00,60013.0,60000.000000,60014.000000,60000.0,1.960719
9997,2021-04-12 11:24:00,60013.0,60013.000000,60013.934448,60013.0,0.390078
9998,2021-04-12 11:23:00,60031.0,60012.000000,60031.000000,60012.0,0.909728
9999,2021-04-12 11:22:00,60025.0,60030.669608,60031.000000,60025.0,0.060630

In [37]:
df.drop_duplicates(inplace=True)

In [38]:
df.shape

(10000, 6)

In [39]:
df.to_csv("bitcoin.csv")