In [1]:
import tweepy
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
import time
import datetime
# pd.set_option('display.max_colwidth', -1)
tweepy.__version__

'3.10.0'

In [2]:
consumer_key="AnlrMw88AVC7MkQDWYegpUFUP"
consumer_secret="ZFC7Ddxww4sbebgNy5qddUjvMUiKaF6QCYUPD8DwP43AAlWwjA"
access_token="95877051-ei1CoqW4adQeAVycIXIvfosmlZ7e6B4EfpQkxMqcp"
access_token_secret="E9OAvKeIcILhTICAJmWuzfx7oSwR84NihnlRukrr6uBSN"

In [3]:
auth=tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api=tweepy.API(auth)

In [4]:
startDate = datetime.datetime(2021, 3, 20, 0, 0, 0)
# endDate =   datetime.datetime(2021, 3, 24, 0, 0, 0)

In [5]:
df = pd.DataFrame(columns = ["tweets","time","likes","no:rt"])

In [6]:
def stream(data, file_name):
    i = 0
    for tweet in tweepy.Cursor(api.search, q=data, count=100, lang='en',since=startDate).items():
        print(i, end='\r')
        df.loc[i, 'tweets'] = tweet.text
        df.loc[i, 'time'] = tweet.created_at
        df.loc[i, 'likes'] = tweet.favorite_count
        df.loc[i, 'no:rt'] = tweet.retweet_count
        
        df.to_csv('{}.csv'.format(file_name))
        i+=1
        if i == 10000:
            break
        else:
            pass

In [7]:
stream(data = ['Bitcoin'], file_name = 'twitterdata')

In [8]:
df.head()

,tweets,time,likes,no:rt
0,RT @MocktailSwap: Get ready for the Best Farmi...,2021-04-19 09:16:33,0,822
1,The current price of Bitcoin is $57008.00.\nTh...,2021-04-19 09:15:02,0,0
2,RT @JunkoSu22993224: If Chainlink Hits $50.00 ...,2021-04-19 09:14:54,0,624
3,RT @MocktailSwap: Get ready for the Best Farmi...,2021-04-19 09:14:43,0,822
4,RT @MocktailSwap: Get ready for the Best Staki...,2021-04-19 09:14:38,0,315

In [9]:
df.tail()

,tweets,time,likes,no:rt
9995,"The current price of bitcoin is $60,105.00. It...",2021-04-12 21:03:50,0,0
9996,New Bitcoin block 00..840be452159338efb634b29c...,2021-04-12 21:01:00,0,1
9997,on the 04/12/2021 at 09:00 1BTC was worth $600...,2021-04-12 21:00:39,0,0
9998,Top 5 Cryptocurrencies - Current Prices\n\nBit...,2021-04-12 21:00:32,1,0
9999,ðŸ“‰ Biggest Losers (1 hr) ðŸ“‰\nBitcoin Standard Ha...,2021-04-12 21:00:30,0,0